/* Variables */

:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-grey: #3d546f;
    --basic-greylight: #c5c5c5;
    --basic-background: #f1f5f7;
    --basic-greydark: #293449;
    --basic-bluedark: #32425c;
    --black: #000000;
    --white: #ffffff;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-grey: #f9f5f0;
    --special-greylight: #a9a9a9;
    --special-greenlight: #8ed78f;
    --special-greydark: #212a3a;
    --special-yellowlight: #ffd180;
    --success: #5fbb2d;
    --warning: #ffbf47;
    --error: #ba2732;
    --greylight: #eaeaea;

    --primary-font-family: "Cuprum", Arial, sans-serif;
    --secondary-font-family: "PT Sans", Arial, sans-serif;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
    font-size: 14px;
    line-height: 24px;
    color: var(--black);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* page-header */

.page-header {
    background-color: var(--basic-background);
    font-family: var(--primary-font-family);
}

/* quick-access */

.quick-access {
    background-color: var(--basic-greydark);
    font-family: var(--primary-font-family);
    font-size: 18px;
}

.quick-access__search {
    background-color: inherit;
    border: none;
}

.quick-access__items {
    list-style: none;
}

.quick-access__item a {
    color: var(--white);
}

.quick-access__submit {
    color: var(--white);
    background-color: var(--basic-green);
}

/* header-info */

.header-info__text {
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

/* header-contacts */

.header-contacts__phone {
    color: var(--basic-red);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    border: 3px solid var(--white);
}

/* header-buttons */

.header-buttons__button {
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    background-color: var(--white);
}

/* header-nav */

.header-nav__list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-bluedark);
}

.header-nav__list-item a {
    color: var(--white);
}

/* features */

.features__list {
    list-style: none;
}

/* feature */

.feature {
    font-family: var(--primary-font-family);
}

.feature__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
}

.feature__text {
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.feature_materials {
    background-color: var(--special-yellow);
}

.feature_instrument {
    background-color: var(--special-blue);
}

.feature_technic {
    background-color: var(--special-lilac);
}

.feature_discounts {
    background-color: var(--special-greenlight);
}

.feature_delivery {
    background-color: var(--special-yellow);
}

/* slider */

.slider {
    font-family: var(--primary-font-family);
    color: var(--white);
}

.slider__header {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
}

/* button-link */

.button-link {
    font-family: var(--primary-font-family);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
}

/* favorites */

.favorites__top {
    background-color: var(--special-grey);
}

/* section-header */

.section-header {
    font-family: var(--primary-font-family);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
}

/* section-text */

.section-text {
    font-family: var(--secondary-font-family);
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
}

/* product-list */

.product-list {
    list-style: none;
}

/* product */

.product {
    border: 1px solid var(--greylight);
    font-family: var(--secondary-font-family);
}

.product__header {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
}

.product__name {
    text-transform: uppercase;
}

.product__price {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.product__price_old {
    color: var(--special-greylight);
    text-decoration: line-through;
}

.product__price_actual {
    color: var(--white);
    background-color: var(--basic-red);
}

/* manufacturers */

.manufacturers__top {
    background-color: var(--special-grey);
}

.manufacturers__list {
    list-style: none;
}

/* manufacturer */

.manufacturer {
    border: 1px solid var(--greylight);
}

/* services */

.services {
    background-color: var(--basic-background);
    font-family: var(--secondary-font-family);
}

/* services-tabs-list */

.services-tabs-list {
    list-style: none;
}

.services-tabs-list__item {
    background-color: var(--basic-bluedark);
    color: var(--white);
}

.services-tabs-list__link {
    font-family: var(--primary-font-family);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: inherit;
}

.services-tabs-list__item_active {
    background-color: var(--white);
    color: var(--basic-bluedark);
}

/* about */

.about__list {
    list-style: none;
}

.about__list-item {
    font-size: 18px;
    line-height: 24px;
}

/* page-footer */

.page-footer__top {
    background-color: var(--basic-bluedark);
}

.page-footer__bottom {
    background-color: var(--basic-greydark);
}

/* footer-address */

.footer-address__text {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

/* footer-links */

.footer-links__first-list,
.footer-links__second-list {
    list-style: none;
}

.footer-links__link {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}

.footer-links__link_second {
    color: var(--special-yellowlight);
}

/* copyright */

.copyright__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

/* social */

.social__list {
    list-style: none;
}

.social__list-item {
    background-color: var(--special-greydark);
}

.social__link {
    color: var(--white);
}

/* additionals */

.additionals__list {
    list-style: none;
}

.additionals__list-item {
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
}

.additionals__link {
    color: var(--special-yellowlight);
}